@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  margin: 0;
<<<<<<< HEAD
=======
  display: flex;
>>>>>>> 300b29e (creacion de la ruta para nueva pantalla, creacion de nueva componente (1er avance), cambios en el archivo css porque movia todos los componentes al centro)
  min-width: 320px;
  min-height: 100vh;
}

